.donation {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    padding: 0 76px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      justify-content: center;
      padding-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      justify-content: center;
      padding: 0 32px;
      padding-bottom: 80px;
    }

  }

  &__logo {
    margin-bottom: 115px;
    margin-top: 131px;
    max-width: 175px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 64px;
    }
  }

  &__text-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 456px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 1024px) {
      justify-content: center;
      align-items: center;
    }

  }

  &__title {
    font-family: var(--pangolin);
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    margin-bottom: 24px;
    width: 100%;
    text-align: left;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 36px;
      font-weight: 400;
      line-height: 43.2px;
      max-width: 342px;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      text-align: center;

    }

  }

  &__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 48px;
    text-align: left;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 18px;
      font-weight: 400;
      line-height: 25.2px;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: center;

    }
  }

  &__button {
    background-color: var(--blue-20);
    border-radius: 5px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.09px;
    outline: 0;
    max-width: 214px;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 100%;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      font-weight: 600;
      line-height: 16.41px;
      padding: 16px 32px;
      max-width: max-content;
      text-align: left;
    }

  }

  &__image--primary {
    max-width: 710px;
    width: 100%;
    margin-top: 125px;
    z-index: 6;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

  }

  &__background-symbol {
    background: var(--yellow);
    width: 1300px;
    height: 500px;
    right: -260px;
    top: 110px;
    z-index: 0;
    gap: 0px;
    border-radius: 500px 0px 0px 500px;
    position: absolute;
    transform: rotate(-19deg);

    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  &__additional-info {
    background-color: #124C5F0D;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__additional-section {
    display: flex;
    align-items: center;
    gap: 55px;
    max-width: 1402px;
    padding: 0 76px;
    margin-top: 50px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
      gap: 13px;
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 13px;
      padding: 0 32px;
      margin-bottom: 80px;
    }
  }

  &__image--secondary {
    width: 100%;
  }

  &__text-additional {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    max-width: 592px;
    width: 100%;

    @media screen and (max-width: 1024px) {
      align-items: center;
    }

  }

  &__title--secondary {
    font-family: var(--pangolin);
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    max-width: 429px;
    width: 100%;
    text-align: left;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 32px;
      font-weight: 400;
      line-height: 38.4px;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-family: Pangolin;
      font-size: 24px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: center;

    }

  }

  &__description--secondary {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    max-width: 592px;
    width: 100%;
    text-align: left;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
    }

    @media screen and (max-width: 768px) {
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      text-align: center;

    }
  }

  &__button--secondary {
    background-color: var(--blue-20);
    border-radius: 5px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    max-width: 181px;
    padding: 16px 32px;
    text-transform: uppercase;
    width: 100%;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      font-weight: 600;
      line-height: 16.41px;
      max-width: max-content;
      padding: 16px 32px;
      text-align: left;
    }
  }

  &__foods {
    display: flex;
    max-width: 1218px;
    justify-content: center;
    gap: 32px;
    margin: 80px 0;
    padding: 0 76px;
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      align-items: center;
      gap: 80px;
      margin: 160px 0;
      flex-direction: column;
    }

    @media screen and (max-width: 768px) {
      align-items: center;
      gap: 80px;
      margin: 160px 0;
      padding: 0 32px;
      flex-direction: column;
    }
  }

  &__food-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    max-width: 384px;

    img {
      max-width: 100%;
      width: 100%;
    }
  }

  &__food-title {
    font-family: var(--pangolin);
    font-size: 32px;
    font-weight: 400;
    line-height: 39.97px;
    margin-top: 47px;
    text-align: left;


    @media screen and (min-width: 768px) and (max-width: 1024px) {
      margin-top: 24px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 40px;
      font-family: Pangolin;
      font-size: 24px;
      font-weight: 400;
      line-height: 29.98px;
      text-align: left;

    }

  }

  &__food-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 12px;
    margin-bottom: 40px;
    max-width: 300px;
    text-align: left;

    @media screen and (max-width: 768px) {
      font-size: 16px;
      font-weight: 400;
      line-height: 22.4px;
      text-align: left;
    }

  }

  &__food-button {
    background-color: var(--blue-20);
    border-radius: 5px;
    border: 0;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
    padding: 16px 32px;
    text-transform: uppercase;
    width: 100%;

    @media screen and (max-width: 768px) {
      font-size: 14px;
      font-weight: 600;
      line-height: 16.41px;
      max-width: 100%;
      padding: 16px 32px;
      text-align: center;
      width: 100%;
    }
  }
}